.main-container {
    height: 90vh;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(39, 33, 88);
}

.mb-3 {
    margin: 20px auto;
}

.to-do-items {
    text-align: left;
}

.completed {
    text-decoration: line-through;
}

.todo-input {
    border: 0.5px solid #2125293f;
}

.todo-input:focus {
    box-shadow: none;
    border: 1px solid #212529;
}

.actions-btns {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.actions-btns .btn {
    border-radius: 20px;
}